# Ignore node_modules directory
node_modules/

# Ignore build artifacts and compiled files
/build/
/dist/

# Ignore Docker related files
docker-compose.yml
docker-compose.override.yml
docker-compose.prod.yml
Dockerfile

# Ignore local development environment files
.env
.env.local
.env.*.local

# Ignore logs and temporary files
*.log
*.log.*
*.tmp

# Ignore npm-debug.log and yarn-error.log
npm-debug.log
yarn-error.log

# Ignore user-specific files
.idea/
.vscode/

# Ignore local Docker configurations
.docker/

# Ignore dependency directories
pids/
logs/
yarn-error.log
yarn-debug.log*
npm-debug.log*
pnpm-debug.log*
test
/.pnp
.pnp.js

# Ignore coverage directory
coverage/

# Ignore .DS_Store files
.DS_Store
